---
import card from "@styles/card.module.css";

interface Props{id?:string, src?: string; view?: number, title?: string, createdAt?: string}

const { src, view = 0, title, createdAt, id } = Astro.props;
---
<a href=`/posts/${id}` data-astro-prefetch="viewport" class={card.general + " " + "card col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-6 bg-white text-simple-black shadow-md h-80 rounded-sm"}>
  <span class="flex items-center row-span-2 px-2">
    <div class={card.ellipsis_overflow + " " + "inline-block"}>{title}</div>
  </span>
  <div class="overflow-hidden row-span-8 px-2">
    <img class="lg:hover:scale-[1.2] transition-all ease-in" src={src} srcset="" alt="no image" lazy-loading />
  </div>
  <span class="flex gap-1 items-center justify-between row-start-12 row-span-1 px-2 text-right">
    <span class="flex items-center h-[100%] py-1">
      <img src="/eye.svg" alt="eye icon"/>
      <span>{view}</span>
    </span>
    <span>{createdAt}</span></span>
</a>

